
table{border-collapse:collapse;
        font-family:sans;
        /*width:100%;*/
        font-size:10px;
        border:solid thin #ddd;
}

td, th{
   padding: 0.5em;
   border:solid thin #efefef;
   border:solid thin #ddd;
   text-align: left;
   
}


tr:hover{
    border:solid 1px #888;
    border-style: double;
}

.focus_identity {
    background:#FF9900; 
    /*display:inline-block;*/
    width:100%;
    height:100%;
    font-weight:bold;
} 


/* A record that is selected by the user */
.selected{
    border:solid 1px #222;
    border-style: double;;
}





/* Empty table row. */
.separator{
    height: 4em;
}


.table-header th{
    font-weight:bold;
    font-size:14px;
    padding:0.3em;
    background: #000;
    color:#fff;
}


/* a table row containing a record. */
.record{
    cursor:pointer;
}


.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



.button{
    width:100%;
    background:#5757FF;
    font-weight:bold;
    font-size:1em;
    text-align:center;
    color:#fff;
    padding:1em 3px 1em 3px ;
    margin:0em 0em 1em 0em ;
    float:left;
    font-family: sans;
    cursor:pointer;
    
}

.page-header{
    font-family:sans;
    font-size:2em;
    font-weight:bold;
    padding:20px;
    background:#000;
    color:#fff;
    margin-bottom:20px;
    
}

#sidebar_wrapper{
    padding: 0px 20px 20px 20px;
}

#sidebar{
    width:20em;;
    float:left;
    position:fixed;
}


#main_table{
    float:left;
    margin-left:22em;
}

#comments_textarea{
    width:100%;
}


body{
    margin:0px;
}


#back-button{
    position: absolute;
    top: 55px;
}

.inline-button{
    color : #0033CC; 
    font-family: sans;    
    font-size : 1em;
    text-decoration : underline;
    cursor: pointer;
}


#button-submit{
    margin-bottom: 30px;
}



.score-form{
    position:absolute;
    border:solid thin #ddd;
    background: #fff;
    font-family: sans;
}


.score-radio-button{
    /*display:block;*/
    float:left;
    margin-top:0px;
    margin-bottom:10px;
    margin-left: 0em;
    clear:both;

}

.score-label{

    display:block;
    float:left;
    font-size:0.7em;
    margin-top:0px;
    margin-bottom:10px;
}


.score-yes{
    background : #99FF66;
}

.score-maybeyes{
    background:#FFFF99;
}

.score-maybeno{
    background: #ededed;
}

.score-no{
    background: #fff;
}


.score-input-container-1,
.score-input-container-2,
.score-input-container-3,
.score-input-container-4{
    display:table;
    padding:3px;
    width:100px;
    border:solid thin #fff;
}
.score-input-container-1:hover,
.score-input-container-2:hover,
.score-input-container-3:hover,
.score-input-container-4:hover{
    cursor:pointer;
    border:solid thin #ddd;
}


.score-input-wrapper{
    width:106px;
}



.score-input-container-1{
    background : #99FF66;
}
.score-input-container-2{
    background:#FFFF99;
}
.score-input-container-3{
    background: #ededed;
}
.score-input-container-4 {
    background: #fff;
}


.ismain{
    font-weight:bold;
}

