<!doctype html>
<title>Login</title>
<head>
<link rel="stylesheet" type="text/css" href="{{ style_url }}">
<script src=" {{ url_for('static',filename='jquery.js')}} "></script>
<script src="{{ url_for('static',filename='functions.js')}}"></script>
<script src="{{ url_for('static',filename='login.js')}}"></script>

</head>

<body>

<div id="debug"> </div>


<div id="greeting_window_container">
    <div class="_greeting_message">
        Login
    </div>
    <div id="coder_id_form">

       <div>
            <div class = "login_label">
                username:
            </div>
            <input type="text" id="input_coder_username"/><br/>
       </div>
       <div class="separator"></div>
       <div>
            <div class = "login_label">
                password:
            </div>
        <input type="password" id="input_coder_password"/><br/>
       </div>

        <button id="submit_coder_ID" name="submit_coder_ID" class="_submit_button" type="button" value="submit">Submit
        </button>
    </div>
</div>


</body>

<script type="text/javascript">start_greeting();</script>
