<!doctype html>
<title>Validation</title>
<head>
<link rel="stylesheet" type="text/css" href="{{ style_url }}">
<script src=" {{ url_for('static',filename='jquery.js')}} "></script>

<script src="{{ url_for('static',filename='functions.js')}}"></script>
</head>

<body>

<div id="debug"> </div>

{% if data %}


  <div>
    <div class="page-header">Page number {{pageno}}</div>
    <div id='sidebar'>
        <div id="sidebar_wrapper">
            <div id="button-submit" class="button noselect">Submit</div>
            <div id="back-button" class="inline-button">&laquo;back</div>
            <textarea cols = "25" rows="50" placeholder="Enter comments" id="comments_textarea"></textarea>
        </div>
    </div>
    <div id="main_table">
        {{ data | safe }}
    </div>
  <div>
{% else %}
  <h1>Error: No data provided.</h1>

{% endif %}

</body>

<script type="text/javascript">initialize( {{pageno}}, "{{username}}" );</script>
