Options +ExecCGI
AddHandler cgi-script .cgi
RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ /home1/naviddia/public_html/FEC/validation/flask.cgi/$1 [L]


#RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} !-f # Don't interfere with static files
#RewriteRule ^(.*)$ flask.fcgi/$1 [L]
